<% @products.each do |product| %>
<h2><%= product.id %></h2>
  
<h2><%= product.name %></h2>
<h3><%= product.price %></h3>
<h3><%= number_to_currency(product.price) %></h3>
<h4><%= product.description %></h4>
</h2><% product.friendly_updated_at %></h2>
<h2><%= product.is_discounted? %></h2>
<h2><%= number_to_currency(product.tax) %></h2>
<h2><%= number_to_currency(product.total) %></h2>
<h5><%= product.instock %></h5>
<h6><%= product.supplier %></h6>
<h6><%= product.images %></h6>
<h2><%= product.categories %></h2>
<a href="/products/<%= product.id %>">More info</a>
<% end %>